.intro__subtitle {
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .intro__subtitle {
    font-size: 16px;
    line-height: 18px;
  }
}
