.projects__card-label {
  display: inline-block;
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 26px;
}


@media screen and (max-width: 520px) {
  .projects__card-label {
    font-size: 18px;
    line-height: 21px;
  }
}
