@media screen and (max-width: 720px) {  
  .header__nav {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #121212;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    min-width: 100px;
  }
}
