.popup__container-label {
  display: block;
  font-size: 21px;
  line-height: 24px;
  margin: 10px 0;
}

@media screen and (max-width: 520px) {
  .popup__container-label {
    font-size: 16px;
    line-height: 18px;
  }
}
