.burger {
  width: 30px;
  height: 20px;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: none;
}

.burger::after,
.burger::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: all .4s;
}

.burger::after {
  bottom: 0;
}

.burger::before {
  top: 0;
}

@media screen and (max-width: 720px) {
  .burger {
    display: block;
  }
}
